@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #f9fafc;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #0a0a0a;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f18f5;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(5, 71, 146, 0.16);
} 



.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__perfil {
    display: none;
}


.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #0e578f;
    width: 75vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    width: 250px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link {
    height: 64px;
    color: #d2d8dd;
    padding: 50px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left:  8px solid #FFFFFF;
}

.menu-lateral__link::before {
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

.principal {
     padding: 24px 16px;
     display: grid;
     gap: 16px;
}

.titulo-pagina {
    font-size:1.5rem;
    font-weight: 700;
}

.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #1596f8;
}

.cartao--destaque {
    margin-bottom: 16px;
}

.cartao__imagem--desktop {
    display: none;
}

.cartao__conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao__destaque {
    grid-column: span 2;
}

.cartao__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao__perfil {
    color: #05253d;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao__info {
    display: flex;
    align-items: center;
    color: #eaeef1;
}

.cartao__info--tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao__info--visualizacao::before {
    content: "\e90f";
    margin-right: 8px;
}

.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao__botao--play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque {
    width: 100%;  
    grid-column: span 2;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}

.cartao--recentes {
    display: none;
}

.secao {
    display: grid;
    gap: 16px;
}

.titulo-secao {
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao__info--valor::before {
    content: "\e905";
    margin-right: 8px;
}

.cartao__botao--comprar::before {
    content: "\e901";
    font-size: 24px;
}

.cartao--picos {
    width: 100%;
    height: 468px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.cartao__imagem--desktop-picos {
    display: none;
}

@media screen and (min-width: 1440px) {
   
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .cabecalho {
        background-color: #107bf7;
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 32px;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(6, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999C;
        padding: 8px 3px;
        border-right: 1px solid #95999C;
    }

    i {
        font-size: 24px;
        color: white;
    }
    .cabecalho__perfil::after {
        content: "\e90d";
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    .menu-lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina" 
            "destaque-video destaque-video videos-recentes"
            "secao-videos secao-videos secao-videos"
            "produtos-recentes destaque-produtos destaque-produtos"
            "secao-produtos secao-produtos secao-produtos"
        ;
        column-gap: 32px;
        padding:  16px 60px;
        grid-column: 2;        
    }

    .titulo-pagina {
        grid-area: titulo-pagina;
    }

    .cartao--destaque {
        margin-bottom: 0;
    }
    
    .cartao__imagem--mobile {
        display: none;
    }

    .cartao__imagem--desktop {
        display: block;
    }

    .cartao__botao--destaque {
        grid-column: auto;
        padding: 16px 8px;
    }

    .cartao--recentes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        height: 468px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .card {
        width: 100;
    }

    .cartao--recentes .cartao__titulo {
        grid-column: auto;
    }

    .cartao__link {
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480DC;
        justify-self: flex-end;
    }

    .cartao__lista {
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil {
        font-size: 0.8rem;
        color: #95999C;
    }

    .secao {
        grid-template-columns: repeat(4, 1fr);
    }

    .titulo-secao {
        grid-column: span 4;
    }

    .destaque-video {
        grid-area: destaque-video;
    }
    
    .videos-recentes {
        grid-area: videos-recentes;
    }
    
    .secao-videos {
        grid-area: secao-videos;
    }
    
    .destaque-produto {
        grid-area: destaque-produtos;
    }
    
    .produtos-recentes {
        grid-area: produtos-recentes;
    }
    
    .secao-produtos {
        grid-area: secao-produtos;
    }

}

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    display: flex;
    justify-content: center;
    background-color: rgba(244, 208, 63, 0.2);
    box-shadow: 5px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather{
    font-size: 32px;
}

.low-high {
    font-size: 22px;
}

.container-fluid {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 16px;
}

#button-addon2 i {
    color: #0a0a0a;
}

.slider {
    margin: 0 auto;
    width: 384px;
    height: 243px;
    overflow: hidden;
}

.slides {
    width: 1300%;
    height: 1300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 7.69%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 384px;
}

.manual-navigation {
    position: absolute;
    width: 384px;
    margin-top: 172.8px;
    justify-content: center;
    display: none;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 1px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -7.69%;
}

#radio3:checked ~ .first {
    margin-left: -15.38%;
}

#radio4:checked ~ .first {
    margin-left: 23.07%;
}

#radio5:checked ~ .first {
    margin-left: 30.76%;
}

#radio6:checked ~ .first {
    margin-left: 38.45%;
}

#radio7:checked ~ .first {
    margin-left: 46.14%;
}


#radio8:checked ~ .first {
    margin-left: 53.83%;
}

#radio9:checked ~ .first {
    margin-left: 61.52%;
}

#radio10:checked ~ .first {
    margin-left: 69,21;
}

#radio11:checked ~ .first {
    margin-left: 76.9%;
}

#radio12:checked ~ .first {
    margin-left: 84.59%;
}

#radio13:checked ~ .first {
    margin-left: 92.28%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 384px;
    margin-top: 172.8px;
    display: none;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 1px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #fff;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: #fff;
}

#radio7:checked ~ .navigation-auto .auto-btn7 {
    background-color: #fff;
}

#radio8:checked ~ .navigation-auto .auto-btn8 {
    background-color: #fff;
}

#radio9:checked ~ .navigation-auto .auto-btn9 {
    background-color: #fff;
}

#radio10:checked ~ .navigation-auto .auto-btn10 {
    background-color: #fff;
}

#radio11:checked ~ .navigation-auto .auto-btn11 {
    background-color: #fff;
}

#radio12:checked ~ .navigation-auto .auto-btn12 {
    background-color: #fff;
}

#radio13:checked ~ .navigation-auto .auto-btn13 {
    background-color: #fff;
}